@media(max-width: 1440px){
    .pc-slide{display: block;}
    .mo-slide{display: none;}
    .tab-slide{display: none;}

    .banner-cake{
        height: 360px;
    }

    .off-store figure{
        width: 40%;
        flex-shrink: 0;
        aspect-ratio: 467/477;
    }

    .off-store figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


}