@media (max-width:1024px){
    .pc-slide{display: none;}
    .mo-slide{display: none;}
    .tab-slide{display: block;}

    .banner-cake{
        height: 260px;
    }

    .news-list li a{
        max-width: 300px;
    }
}