@media (max-width:768px){
    .pc-slide{display: none;}
    .tab-slide{display: none;}
    .mo-slide{display: block;}
    .mo-slide{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .banner-cake{
        height: 365px;
    }

    .off-store{
        flex-direction: column;
        gap: var(--space-2x-large);
    }

    .off-store figure{
        width: auto;
        flex-shrink: 0;
        aspect-ratio: 365/390;
    }

    .off-store section{
        text-align: center;
    }

    .off-store h1{
        padding-top: 0;
    }

    .news{
        flex-direction: column;
        gap: var(--space-x-large);
    }

    .news-list li a{
        max-width: 200px;
    }

    .news-title{
        text-align: center;
    }

    .benefit{
        display: flex;
        flex-direction: column-reverse;
        gap: var(--space-x-large);
        margin-bottom: var(--space-3x-large);
    }

    .benefit-txt{
        text-align: center;
    }
}